.dashboard-main-grid{
    display: grid;
    height:85vh;
    width: 100vw;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
}
.dboard-profile-info-sect {
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    border: 2px solid black;
    margin: 20px;
}
.basic-profile-det {
    text-align: left;
    font-weight: 700;
    /* display: grid;
    height: 100%;
    grid-template-rows: 40% 60%; */
}
.basic-profile-info-1 {
    font-size: 2em;
    grid-row: 1;
    margin-top: auto;
}
.basic-profile-info-2 {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    /* height: 9em; */
    grid-row: 2;
    justify-content: space-around;
}
.posting-stats-sect {
    grid-column: 1;
    grid-row: 2;
    max-height: 100%;
    max-width:100%;
    border-radius: 20px;
    border: 2px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.posting-stats-title {
    color: black;
    text-align: left;
    font-size: 2em;
    margin: 10px 0 20px 15px;
}
.token-balance-sect {
    grid-row: 1;
    grid-column: 2;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 10% 80%;
}
.token-balance-all {
    grid-column: 2;
    text-align: left;
}
.token-bal-title {
    color: black;
    text-align: left;
    font-size: 2em;
     margin-top: 10px;
     margin-bottom: 15px;
}
.blogpost-info-sect {
    grid-row: 2;
    grid-column: 2;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
}
.blogpost-info-title {
    color: black;
    text-align: left;
    font-size: 2em;
     margin-top: 10px;
    margin-left: 15px;
}
